header {
      width: 100%;
      height: 70px;
      background-color: #FF9900;
      padding: 0px;
      margin:0px;
      position:relative;
  }
  header ul{
    padding: 20px 2%;
    margin: 0px;
  }
  header ul li{
     display: inline;
     color: #fff; 
     margin:  0 5px;
     font-family: helvetica;
     font-size: 20px;
  }
  header ul li a{
      text-decoration: none;
      color: #fff;
      cursor: pointer;
  }
  header ul li a:hover{
      color: #FFD700;
  }
  header ul li.right {
      position: absolute;
      right:2%;
  }