<div *ngIf="user">
    <h2>{{user.name}} details!</h2>
    <div>
    <label>id: </label>{{user.id}}
    </div>
    <form [formGroup]="userForm" novalidate >
        <div class="form-group">
            <label class="center-block">Name:
            <input class="form-control" formControlName="name">
            </label>
        </div>
        <div formGroupName="address" class="well well-lg">
            <h4>Address:</h4>
            <div class="form-group">
                <label class="center-block">Street:
                <input class="form-control" formControlName="street">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">City:
                <input class="form-control" formControlName="city">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">State:
                <select class="form-control" formControlName="state">
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                </select>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Zip Code:
                <input class="form-control" formControlName="zip">
                </label>
            </div>
        </div>
        <h4>Gender</h4>
        <div class="form-group radio">
            <label class="center-block"><input type="radio" formControlName="gender" value="female">Female</label>
            <label class="center-block"><input type="radio" formControlName="gender" value="male">Male</label>
            <label class="center-block"><input type="radio" formControlName="gender" value="none">None</label>
        </div>
        <div class="checkbox">
            <label class="center-block">
            <input type="checkbox" formControlName="new">Is New User
            </label>
        </div>
    </form>
    <div class="model-value--container">
        <h4>Form value:</h4>
        <div class="code-frame">
            <code> {{ userForm.value | json }}</code>
        </div>
        <h4>Form status:</h4>
        <p [ngClass]="{'valid': userForm.status == 'VALID','error': userForm.status == 'INVALID' }">{{ userForm.status | json }}</p>
    </div>
    <button (click)="goBack()">Back</button>
    
</div>