@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
* {
    margin: 0;
}
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -70px; 
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 70px; 
}
.table--container{
    margin: 0 2%;
}
table{
    border-collapse: collapse;
    width:100%;
    box-sizing: border-box;
    text-align: center;
}
thead tr{
    height: 50px;
    background-color: #6599FF;
    color: #FFF;
}
table tr{
    border: solid 1px #6599FF;
    height: 40px;
}
td.actions{
    width:100px;
}
tbody tr:hover{
    background-color: #b8cfff;
}